body {
    margin: 0;
    padding: 0;
    background-color: #FF9933;
    margin-bottom: -0px;
}

h1 {
    color: #D6FEE2;
    font-family: fantasy;
    font-size: 40px;
    position: relative;
    top: -80px;
    left: 50px;
    background-color: brown;
    display: inline-block;
}


h2 {
    position: relative;
    top: 190px;
    left: 195px;
    font-size: 20px;
    color: #D6FEE2;
    font-family: fantasy;
}


h4 {
    position: relative;
    top: -200px;
    left: 500px;
    font-size: 20px;
    color: #D6FEE2;
    font-family: fantasy;
}


h5 {
    position: relative;
    top: -300px;
    left: 490px;
    font-size: 20px;
    color: #D6FEE2;
    font-family: fantasy;
}

.p1 { 
    position: relative;
    top: -120px; 
    left: 600px; 
    font-size: 20px;
    font-family: fantasy;

}

.p2 {
    position: relative;
    top: -400px; 
    left: 600px; 
    font-size: 20px;
    font-family: fantasy;
 
}
    
img {
 max-width: 100%;
 max-height: 100%;
}

.pig2 {
 position: relative;
 height: 260px;
 width: 810px;
 top:   -325px;                     /* 位置指定 */
 left:  -200px;                    /* 位置指定 */
 right:  0px;                   /* 位置指定 */
 margin:  auto;                  /* 中央寄せ */
 
}

img {
 max-width: 100%;
 max-height: 100%;
}

.pig3 { 
 position: relative;
 height: 150px;
 width: 300px;
 top:  -250px;                     /* 位置指定 */                /* 位置指定 */
 left:  -350px;                    /* 位置指定 */
 right:  420px;                   /* 位置指定 */
 margin:  auto;               /* 中央寄せ */


}

img {
 max-width: 100%;
 max-height: 100%;
    background-color: #FFFFFF;
     padding: 10px;
}

.pig4 { 
 position: relative;
 height: 150px;
 width: 300px;
 top:  -250px;                     /* 位置指定 */                /* 位置指定 */
 left:  0px;                    /* 位置指定 */
 right:  420px;                   /* 位置指定 */
 margin:  auto;               /* 中央寄せ */
 margin-bottom: 0px;
 
}


.login-link{
    position: relative;
    top: 20px;
    left: 100px;
}



a {
    color: brown;
    font-size: 20px;

    left: 100px;
    top: 20px
}


.hutunohito{
    font-size:  20px;
    position: relative;
    left: 600px;
}


.hutunohito1{
    font-size:  20px;
    position: relative;
    left: 600px;
    top: 0px;
}


.hutunohito2{
    font-size:  20px;
    position: relative;
    left: 600px;
    top: 30px;
}


.hutunohito3{
    font-size:  20px;
    position: relative;
    left: 800px;
    top: 0px;
}
.wrap {
     overflow-x:  hidden;
     overflow-y:  hidden;
 }
