/* 一般的なスタイル */
body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: sans-serif; /* 一般的なサンセリフをデフォルトに */
}

.btn{
    color: block;
    text-decoration: none; 
}

.btn:hover, .btn:active { 
    color: orange; 
}

/* タイトルスタイル */
h1 {
    color: #D6FEE2;
    font-family: fantasy;
    font-size: 100px;
    position: fixed;
    top: 20px;
    left: 740px;
    background-color: brown;
}

/* ... その他のスタイル ... */
.header {
    z-index: 1000;

}

.header {
    z-index: 1000;

}

.news {
    margin-left: 0;
}


/* ニュースセクションのスタイル */
.news {
    padding: 90px 0;
    width: 70;
    margin:  auto; 
    position: fixed;
  
     margin-left: 430px;
}

.inner {
    max-width: 1100px;
    margin: 0 auto; 
    background-color: #fff;
    padding: 20px 40px 20px 60px; /* 左のパディングを増やして少し左に寄せる */
}

.sub_ttl {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center; /* 中央寄せ */
}

.news_list {
    padding: 0;
    list-style-type: none;
}

.news_list_item {
    padding: 25px 0;
    border-bottom: 1px solid #E6E6E6;
}

.news_list_item a {
    display: flex;
    justify-content: space-between; /* コンテンツ間のスペースを均等に分配 */
    align-items: center;
    padding: 0 30px;
}

.news_list_date {
    font-size: 15px;
}

.news_item {
    background: #F6C6A2;
    border-radius: 10px;
    width: 6em;
    text-align: center;
    margin-left: 10px;
}

.arrow {
    width: 15px;
    height: 1px;
    background: #707070;
}

.arrow::after {
    content: "";
    display: block;
    width: 4px;
    height: 1px;
    background: #707070;
    transform: rotate(45deg);
    margin-left: 10px; /* 矢印の位置を調整 */
}

