body {
    background-color: #FF9933;
    text-align: center
}

h1 {
    color: #D6FEE2;
    font-family: fantasy;
    font-size: 40px;
    position: fixed;
    top: -10px;
    left: 20px;
    background-color: brown;
}


h2 {
    position: fixed;
    top: 400px;
    left: 325px;
    font-size: 20px;
    color: #D6FEE2;
    font-family: fantasy;
}


.p1 { 
    position: fixed;
    top: 150px; 
    left: 750px; 
    font-size: 20px;
    font-family: fantasy;
}

.p2 {
    position: fixed;
    top: 455px; 
    left: 600px; 
    font-size: 20px;
    font-family: fantasy;
}
    



hr {
  border-top: 2px dashed #FFFFFF;
  background-color: #FFFFFF;
  position: fixed;
  width: 500%;
  top: 70px;
  left: 0px;
}

    
img {
 max-width: 100%;
 max-height: 100%;
}

.pig2 {
 position: fixed;
 height: 310px;
 width: 860px;
 top:   100px;                     /* 位置指定 */
 left:  -500px;                    /* 位置指定 */
 right:  0px;                   /* 位置指定 */
 margin:  auto;                  /* 中央寄せ */
 
}

img {
 max-width: 100%;
 max-height: 100%;
}

.pig3 { 
 position: fixed;
 height: 150px;
 width: 300px;
 top:  460px;                     /* 位置指定 */                /* 位置指定 */
 left:  -100px;                    /* 位置指定 */
 right:  420px;                   /* 位置指定 */
 margin:  auto;               /* 中央寄せ */

}

.login-link{
    position: fixed;
    top: 20px;
    left: 100px;
}



a {
    color: brown;
    font-size: 20px;
    position: fixed
    left: 100px;
    top: 20px
}

.dashboard{
    font-size:  20px;
}

.login{
    font-size: 20px;
}

.register{
    font-size: 20px;
}