/* 一般的なスタイル */
body {
    background-color: #FF9933;
    text-align: center;
    overflow: auto;
}

a {
    color: brown;
    text-decoration: none; 
}

a:hover, a:active { 
    color: orange; 
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* タイトルとヘッダースタイル */
h1 {
    color: #D6FEE2;
    font-family: fantasy;
    font-size: 100px;
    position: fixed;
    top: 20px;
    left: 575px;
    background-color: brown;
    text-align: center;
}

hr {
    border-top: 2px dashed #FFFFFF;
    background-color: #FFFFFF;
    position: fixed;
    width: 500%;
    top: 70px;
    left: 0px;
}

/* テキストとパラグラフスタイル */
h2 {
    position: fixed;
    top: 400px;
    left: 165px;
    font-size: 20px;
    color: #FF9933;
    font-family: fantasy;
}

.p1 { 
    position: fixed;
    top: 200px; 
    left: 500px; 
    font-size: 20px;
    font-family: fantasy;
}

.p2 {
    position: fixed;
    top: 475px; 
    left: 450px; 
    font-size: 20px;
    font-family: fantasy;
}

.p3 {
    position: fixed;
    top: 100px; 
    left: 75px; 
    font-size: 40px;
    font-family: fantasy;
}

/* 画像スタイル */
.pig2 {
    position: fixed;
    height: 220px;
    width: 740px;
    top: 160px;                     
    left: -400px;                    
    right: 0px;                   
    margin: auto;                  
}

.pig3 { 
    position: fixed;
    height: 150px;
    width: 300px;
    top: 450px;                     
    left: -375px;                    
    right: 420px;                   
    margin: auto;               
}
