body {
    background-color:  #FF9933;
    text-align: center;
}

.posting{
  position: fixed;
  left: 500px;
  top:  200px;
}

.hr {
    border-top: 2px dashed #FFFFFF;
    background-color: #FFFFFF;
    position: fixed;
    width: 500%;
    top: 70px;
    left: 0px;
  }
  

.hr1 {
    background-color: #FF9900;
    position: fixed;
    width: 500%;
    top: 350px;
    left: 0px;
  }
  
  h1 {
    color: #D6FEE2;
    font-family: fantasy;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 100px;
    background-color: brown; 
}

    
.p3 {
  position: fixed;
  top: 130px; 
  left: 75px; 
  font-size: 40px;
  font-family: fantasy;
  line-height: 60px;
  padding: 0;
  margin: 0;
} 
  
a {
  color: brown;
  text-decoration: none;
}

.pig1 {
  position: fixed;
  height: 200px;
  width: 500px;
  top:   150px;                     /* 位置指定 */
  left:  300px;                    /* 位置指定 */
  right:  0px;                   /* 位置指定 */
                 /* 中央寄せ */
  
 }
 
 a:hover { 
  color: orange; 
}

a:active {
   color: orange; 
}



.p {
  position: fixed;
  top: 190px;
  left: 600px;
  font-size: 20px;
  font-family: fantasy;
}

.filter-buttons {
  position: fixed;
  top: 450px;
  left: 700px;
}

h2 {
  position: fixed;
  top: 115px;
  left: 550px;
}

.filter-buttons {
  position: fixed;
  top: 200px;
  left: 520px;
  color: blue; 
}



.comment-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}



.filter-man {
  position: fixed;
  top: 200px;  /* この位置を調節する */
  left: 50px; /* この位置を調節する */
  color: blue;
  background-color: #FFFFFF;
  padding: 10px;
}

.filter-girl {
  position: fixed;
  top: 300px;  /* この位置を調節する */
  left: 50px; /* この位置を調節する */
  color: blue; 
  background-color: #FFFFFF;
  padding: 10px;
}